transformers==4.12.5
spacy==3.0.7
torch==1.10.0
sentence-transformers==2.1.0
sklearn
streamlit==1.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
numpy